body {
    /* background-image: url(https://i.imgur.com/fhuJ10w.png);
    background-size: 100%; */
    background-color: blanchedalmond;
}

/* https://i.imgur.com/sNQtOP1.jpg */

/* #background-5 {
 background-image: url(https://i.postimg.cc/KzcGjjgr/Screen-Shot-2020-04-16-at-6-01-33-PM.png);
 background-size: 200px;
} */
.navbar-fixed {
    border: solid;
    border-width: 1px;
    border-color: #00ffff;
    opacity: 0.9;

}
/* .card-content {
    background-image: url(https://i.postimg.cc/KzcGjjgr/Screen-Shot-2020-04-16-at-6-01-33-PM.png);
} */

h4 {
    color: white;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  }

/* .collection-item {
    margin: 60px;
  } */

/* .card {
    background-color: aquamarine;
    /* background-image: url(https://i.imgur.com/sNQtOP1.jpg); 
    background-size: 200px;
} */
/* .banner {
    width: 700px;
align-content: center;
} */
h4 {
    width: 15%;
    display: flex;
    justify-content: center;
    
}

form {
    width: 50%;
}


.content {
    padding: 15px;
}

.username {
    color: #ef5350;
}

/* ul {
    margin-left: 30px;
} */

#users {
    margin-left: 30px;
}